<% include partials/head %>

    <% include partials/sidebar %>

  <div class="container">
  
    <header class="header hero-header">
      <h1>APm<e>😄</e>ji</h1>
      <h3>Credits</h3>
    </header>

    <section class="panel">
    <h3>About</h3>
      <div class="bloc-text">
      <p>This project was made by <a href="http://twitter.com/lukyvj">LukyVj</a>, for training purposes.</p>
      <p>I had a lot of good feebacks provided by <a href="http://bullg.it">bullgit</a></p>
      </div>
  
    <h3>Thanks to..</h3>
      
    <div class="bloc-text">
      <ul>
        <li>Thanks to the <a href="">bullshit job title generator</a> from <a href="http://bullg.it">bullgit</a></li>
        <li>Thanks to <a href="NodeJS">NodeJS</a>, <a href="ExpressJs">ExpressJs</a> & <a href="EJS">EJS</a></li>
        <li>Thanks to Internet & Stack overflow</li>
      </ul>
    </div>
    
    </section>
  
  </div>
<% include partials/footer %>