<% include partials/head %>

    <% include partials/sidebar %>

  <div class="container">
  
    <header class="header hero-header">
      <h1>APm<e>😄</e>ji</h1>
      <h3>Demos</h3>
    </header>

    <div class="panel">
     <h3>DEMOS HERE</h3>
    </div>
    <section class="demo-samples">
        
        <ul>
          <li>
            <a href="/demo-user-list">User list</a>
          </li>
          <li>
            <a href="/demo-testimonials">Testimonials</a>
          </li>
        </ul>

    </section>
    </div>
<% include partials/footer %>