<% include partials/head %>

    <% include partials/sidebar %>

  <div class="container">
  
    <header class="header hero-header">
      <h1>APm<e>😄</e>ji</h1>
      <h3>Random users api, made with emojis</h3>
    </header>

    <section>
      <div class="bloc-text">
        <p>In development, you sometimes need fake user profiles, that's why ap-moji is made for you !</p>
        <p>Ap-moji is a REST api, designed to return fake profiles made with emoji. It can return : Emojis, Names, Jobs, IDs, complete profile, it can also returns a user card as a png.</p>
      </div>
    
    </section>
    
    <section class="panel">
      <h3>Available users</h3>
      <div class="bloc-text">      
        <h4>Click the faces to discover the api endpoints</h4>
      </div>
    </section>
    <section class="panel_demo">
      <div id="api"></div>
    </section>
  
  </div>
<% include partials/footer %>